


.row
  .col-md-4.col-md-offset-4
    %ol
      %li
        = link_to "Download", "https://www.dropbox.com/s/oxot38u4r29qp7i/Collab0.0.2.zip?dl=1" 
        the extension
      %li Open Settings -> Extensions, or type 'chrome://extensions' in the address bar.
      %li Drag and drop the file from your file explorer into Chrome.
