.row
  .col-lg-4
  .col-lg-4
    %h1 Users

    %ul.list-group
      - @users.each do |user|
        %li.list-group-item.text-center
          %a{href: user_path(user) }
            = user.email
    






