
.row
  .col-lg-8
    = render partial: "shared/feed" , locals: {pages: @pages}
  .col-lg-4
    .corgi_feed_well
      .sidebar_header
        .sidebar_title
          reCollab
      .feed_hr
      .sidebar_interior
        Get the chrome extension
