
.row
  .col-lg-8
    = render partial: "shared/feed" , locals: {pages: @pages}
  .col-lg-4
    .corgi_feed_well
      .sidebar_header
        .sidebar_title
          reCollab
      .feed_hr
      .sidebar_interior
        Get the Chrome extension
        %ol
          %li
            = link_to "Download", "https://www.dropbox.com/s/xy1nnm2bwb2nyr2/reCollab.crx?dl=1" 
            the extension
          %li Open Settings -> Extensions, or type 'chrome://extensions' in the address bar.
        %li Drag and drop the file from your file explorer into Chrome.


