/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.intro-section{

    text-align: center;
    color: #000;
    .logo{
        font-family: 'Raleway', sans-serif;
        margin-top: 100px;
    }
    .intro{
        margin-top: 200px;
        font-size: 3.75em;
        line-height: 4.7em;
    }

}

.home {
    width:100%;
    display: block;
}


.cover-overlay{
    height: 100%;
    background: rgb(255,255,255);
}

.ui-widget-header{
    background: rgb(255,255,255);
    border:0px;
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/

.tab-box{
        height: 40px;
}
.login-form {
	width: 400px;
	margin: 50px auto;
        margin-top: 0px;
	text-align: center;
	position: relative;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
}

.login-form input, .login-form textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
.login-form .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.login-form .action-button:hover, .login-form .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.login-form-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.login-form-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}


.tab
{
background: #dedede;display: block;height: 40px;
line-height: 40px;text-align: center;
width: 80px;float: right;font-weight: bold;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius: 4px 4px 0px 0px;

}
