/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.intro-section{

    text-align: center;
    color: #FFFFFF;
    .logo{
        font-family: 'Raleway', sans-serif;
        margin-top: 100px;
    }
    .intro{
        margin-top: 200px;
        font-size: 3.75em;
        line-height: 4.7em;
    }

}

.home {
    width:100%;
    display: block;
}

.cover-overlay{
    min-height: 900px;
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    display: block;
}
