<!DOCTYPE html>
<html lang="en">

  <head>

    <title>reCollab</title>
    <%= render "layouts/shared/head" %>
  </head>

  <body>

    <%= render "layouts/application/header" %>

    <div class="container">

      <%= render "layouts/application/flash_messages" %>

      <%= yield %>

    </div>

  </body>

</html>
