<!DOCTYPE html>
<html lang="en">

  <head>

    <title>reCollab</title>
    <%= render "layouts/shared/head" %>
  </head>

  <body>
    <div class="cover-overlay">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
